body {
    margin: 0;
    padding: 0;
	background-image: url("background2.jpg");
	background-size: cover;
}

/* MYSTYLE CSS P */
p{
    color: whitesmoke;
    font-size: 20px;
    font-family: Helvetica;
}

.box_login{
	width: 350px;
	background: black;
	/meletakkan form ke tengah/
	margin: 80px auto;
	padding: 30px 20px;
}
 
label{
    font-size: 13pt;
    font-family: Helvetica;
}
 
.form_login{
	/membuat lebar form penuh/
	box-sizing : border-box;
	width: 90%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
 
.button_login{
	background: #46de4b;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}